@font-face {
  src: url(../fonts/OpenSans/OpenSans-Regular.ttf) format("truetype");
  font-weight: normal;
}
@font-face {
  src: url(../fonts/OpenSans/OpenSans-Light.ttf) format("truetype");
  font-weight: 300;
}
@font-face {
  src: url(../fonts/OpenSans/OpenSans-Bold.ttf) format("truetype");
  font-weight: bold;
}
@font-face {
  src: url(./assets/font/Raleway-VariableFont_wght.ttf);
}
@font-face {
  src: url(./assets/font/Raleway-Italic-VariableFont_wght.ttf);
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway:ital,wght@0,300;0,500;1,400&display=swap');

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.5;
  font-family: "Montserrat", sans-serif;
  color: rgb(0, 0, 0);
  height: 2000px;
}


/* ---------------------- navBar --------------------------- */
header.top-site {
  display: flex;
  position: fixed;
  justify-content: center;
  width: 100%;
  height: 10%;
  top: 0;
  z-index: 100;
  background-color: rgb(255, 255, 255);
  transition-duration: 0.5s;
}

header.top-site > nav { 
  width: 80%;
  justify-content: center;
  align-items: center;
  align-content: center;
}

header.top-site > nav > ul {
  margin: 0;
  padding: 0%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

header.top-site > nav > ul li {
  text-align: center;
  width: 100%;
}

header.top-site > nav > ul li a {
  text-decoration: none;
  font-weight: bold;
  color: rgb(0, 0, 0);
}

header.top-site > nav > ul li a:hover{
  font-size: 120%;
  transition: 0.6s;
}

/* ------------------------------------------------------------ */
/* ----------------- Criei a partir daqui --------------------- */
/* ------------------------------------------------------------ */

.page {
  height: 100vh;
  width: 100%;
  border-left:2px solid rgb(250, 240, 230);
  border-right: 2px solid rgb(250, 240, 230);
  border-top: 2px solid rgb(250, 240, 230);
}

/* ----------------------- Page1 --------------------------- */
/* Na verdade isso vai ser a page 4 */
#page1{
  /* background-color: rgb(255, 218, 185); */
  background: rgb(250,240,230);
  background: radial-gradient(circle, rgba(250,240,230,1) 15%, rgba(255,218,185,1) 98%);
  height: 95vh;
  display: flex;
  align-items: baseline;
}
#imgLogo{
  object-fit: cover;
  position:absolute;
  height: 200px;
  width: 250px;
  bottom: 50vh;
  left: 30vh;
}
#imgProfile{
  object-fit: cover;
  position:absolute;
  height:fit-content;
  width: 65vh;
  height: 92vh;
  right: 20vh;
  bottom: 5vh;
}

/* ----------------------- Page2 --------------------------- */
#page2{
  margin: 0;
  background: rgb(240,242,242);
  background: linear-gradient(166deg, rgba(240,242,242,0.9051995798319328) 0%, rgba(213,164,132,0.5242471988795518) 58%, rgba(230,145,33,0.7987570028011204) 100%);
}
#page2 h2{
  margin-top: 0;
  padding-top: 15px;
  text-align: center;
}
#page2 div{
  align-items: center;
}
.container{
  grid-template-columns: repeat(2,1fr);
  display: grid;
  text-align: left;
  justify-items:center;
}
.tratamento-img{
  background: url(./assets/img/foto2.webp);
  height: 70vh;
  width: 70vh;
}

#section {
  margin-top: -100px;
  background-color: #FFF;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  border: 1px solid #DDD;
  border-radius: 10px;
}

#section .container {
  display: flex;
  flex-direction: row;
  justify-content: center;   
}

.container {
  flex: 1 1 1;
  text-align: center;
  padding: 60px 25px;
}
.container h3 {
  color: #080808;
  font-size: 20px;
}

.container img {
  height: 60px;
  padding: 15px;
  border-radius: 5%;
  margin-bottom: 25px;
}

.container .subtitle {
  font-weight: bold;  
  color: #000000;
  margin-top: 50px;
  margin-bottom: 15px;
}

.container p {
  line-height: 25px;
}

/* ----------------------- Page3 --------------------------- */
#page3{
  height: auto;
  background: rgb(240,242,242);
  background: linear-gradient(166deg, rgba(240,242,242,0.9051995798319328) 0%, rgba(213,164,132,0.5242471988795518) 58%, rgba(230,145,33,0.7987570028011204) 100%);
  
}
.img{
  display: grid;
  justify-content: center;
}
#page3 .container{
  display: grid;
  grid-template-columns: 2fr 2fr;
  padding: 0;
  margin:0px 5px 0px 15px;
  padding-bottom: 5%;
  padding-top: 5%;
  padding-left: 5%;
  padding-right: 5%;
  text-align: left;
  font-weight: bold;
}
#page3 .container img{
  display: grid;
  width: 50vh;
  height: 50vh;
  border-radius: 5%;
  border: none;
}
#page3 .container h3{
  text-align: center;
  height: auto;
}
#page3 div{
  align-items: center;
}

/* ----------------------- Page4 --------------------------- */
#page4{
  height: auto;
  background: rgb(255, 228, 196);
  /* background: linear-gradient(166deg, rgba(240,242,242,0.9051995798319328) 0%, rgba(213,164,132,0.5242471988795518) 58%, rgba(230,145,33,0.7987570028011204) 100%); */
}
#page4 h2{
  margin-top: 0;
  padding-top: 15px;
  text-align: center;
}
.texto-img{
  display: grid;
  justify-content: left;
}
.img{
  display: grid;
  justify-content: center;
}
#page4 .container{
  display: grid;
  grid-template-columns: 2fr 2fr;
  padding: 0;
  margin:0px 5px 0px 15px;
  padding-bottom: 5%;
  padding-top: 5%;
  padding-left: 5%;
  text-align: left;
  font-weight: bold;
}
#page4 .container img{
  /* Colquei bordar pra ver como está essa div e o espaço que está ocupando */
  /* background-color: #222;  */
  display: grid;
  width: 50vh;
  height: 50vh;
  border-radius: 5%;
  border: none;
  
}


/* ----------------------- footer --------------------------- */

footer{
  height: 70vh;
  width: 100%;
  background: rgb(250,240,230);
  background: linear-gradient(180deg, rgba(250,240,230,1) 10%, rgba(220,220,220,1) 90%);
  padding: 15px;
  border-left:2px solid rgb(250, 240, 230);
  border-right: 2px solid rgb(250, 240, 230);
  border-top: 2px solid rgb(250, 240, 230);
  font-weight: bold;
}

footer a{
  text-decoration: none;
  color: rgb(0, 0, 0);
  margin: 0;
  text-align: left;
}

footer a:hover{
  text-decoration: underline;
  transition: 0.6s;
}

.footer-class{
  display: grid;
  grid-template-columns: 2fr 3fr 3fr 1fr;
  margin-top: 10px;
  justify-items: center;
  align-items: center;
  height: 100%;
}

.material-symbols-outlined {
  text-decoration: none;
  width: 20px;
  height: 20px;
  padding: 0px;
  margin: 0;
}

.contatoBox{
  text-decoration:solid;
  font-weight: bold;
  color: rgb(0, 0, 0);
  padding-left: 20px;
}
.contatoBox a{
  display: flex;
  text-decoration: none;
  font-weight: bold;
  color:rgb(0, 0, 0);
  flex-direction: row;
  margin-bottom: 13px;
}
.contatoBox p{
  margin-bottom: 15px;
}

.contatoBox .material-symbols-outlined{
  padding-right: 30px;
  margin: 0;
}

#iconFooter{
  object-fit: cover;
  position:static;
  height: 200px;
  width: 250px;
  bottom: 5vh;
  right: 5vh; 
}
#mapIcon{
  border-radius: 3%;
}

@media (max-width: 992px){
  .footer-class{
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 10px;
    padding: 5px;
  }
    
    .endereco a{
      text-decoration: none;
      color: wheat;
      margin: 0;
      text-align: center;
    } 
    #iconFooter{
      object-fit: cover;
      position:static;
      height: 50px;
      width: 50px;
      bottom: 5vh;
      right: 5vh; 
      filter: invert(75%);
    }

}

/*------------------------- Links ----------------------------*/
/* WhasApp start */
.whatsapp-link {
  position: fixed;
  height: 220px;
  width: 60px;
  bottom: 60px;
  right: 60px;
  text-align: center;
  opacity: 0.7;
}
.whatsapp-link:hover{
  opacity: 10;
}
/* Instagram start */
.instagram-link {
  position: fixed;
  width: 60px;
  height: 100px;
  bottom: 60px;
  right: 60px;
  text-align: center;
  opacity: 0.7;
}
.instagram-link:hover{
  opacity: 10;
}
/*------------------------- Links ----------------------------*/