@font-face {
  font-family: "Open Sans";
  src: url(../fonts/OpenSans/OpenSans-Regular.ttf) format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url(../fonts/OpenSans/OpenSans-Light.ttf) format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Open Sans";
  src: url(../fonts/OpenSans/OpenSans-Bold.ttf) format("truetype");
  font-weight: bold;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: rgb(137, 15, 15);
  height: 2000px;
}
input {
  border: none;
  background: #fff;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
  padding: 10px;
  border-radius: 5px;
}
header.top-site {
  transition-duration: 0.5s;
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 100px;
  background-color: rgb(229, 143, 143);
  display: flex;
  justify-content: center;
  align-items: center;
  
}
header.top-site > nav {
  width: 80%;
}
header.top-site > nav > ul {
  margin: 0;
  display: flex;
  justify-content: space-around;
}
header.top-site > nav > ul li {
  list-style: none;
  margin-right: 20px;
}
header.top-site > nav > ul li a {
  text-decoration: none;
  font-weight: bold;
  color: #222;
  font-family: "Open Sans";
}
header.disable > nav > ul li > a {
  text-decoration: none;
  font-weight: bold;
  color: #fff;
  font-family: "Open Sans";
}
section.full-banner {
  width: 100%;
  height: 100vh;
  background: url("../images/c6bank/hero-bg-xs.webp") no-repeat;
  background-size: cover;
}
section.full-banner > .destak {
  width: 40%;
  height: 80vh;
  position: absolute;
  bottom: 0;
  left: 5%;
}
section.full-banner > .destak > h1 {
  font-weight: 300;
  font-size: 3.5rem;
  margin-top: 0.1em;
  line-height: 1em;
}
section.full-banner > .destak > h2,
section.full-banner > .destak h3 {
  font-weight: 300;
  margin-bottom: 1em;
}
section.full-banner > .destak h3 {
  width: 100%;
  background: rgba(36, 36, 36, 0.35);
  color: #eee;
  font-weight: normal;
  line-height: 2.5em;
  font-size: 0.9em;
  padding: 0 2%;
  border-radius: 25px;
}
::selection {
  background: #ffe45c;
  color: #242424;
}
button.disable {
  background: none;
  border: solid 0.5px rgba(36, 36, 36, 0.8);
}
button.disable:hover {
  background: rgba(36, 36, 36, 0.2);
}
button {
  background: linear-gradient(150deg, #ffe45c 0%, #ffc900 100%);
  width: 290px;
  line-height: 40px;
  border-radius: 25px;
  border: none;
  text-transform: uppercase;
}
button:hover {
  background: linear-gradient(150deg, #ffe668 0%, #ffdc5f 100%);
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.destak h3 > span {
  display: inline-block;
  line-height: 1.6em;
  width: fit-content;
  background-color: #006d8f;
  border-radius: 25px;
  padding: 0 3%;
  font-weight: bold;
}
@media (min-width: 992px) {
  section.full-banner {
    background: url("../images/c6bank/hero-bg.webp") no-repeat;
    background-size: cover;
  }
}

.full-banner-form {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #dddcda;
  background: url("../images/c6bank/hero-bg-xs.webp") no-repeat;
}
.container-login {
  width: 420px;
  height: 50vh;
  display: flex;
}
.container-login form {
  background: rgba(36, 36, 36, 0.35);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 5%;
  border-radius: 5%;
}
.container-login form label {
  width: 70%;
  display: flex;
  flex-direction: column;
}
.container-login form label input {
  width: 100%;
}
.container-login form p {
  margin: 0;
  font-weight: bold;
  color: #222;
  font-family: "Open Sans";
}
.container-login form p a {
  text-decoration: none;
  font-weight: bold;
  color: #222;
  font-family: "Open Sans";
}
.container-login form p a:hover {
  color: #fff;
}
@media (min-width: 992px) {
  section.full-banner-form {
    background: url("../images/c6bank/hero-bg.webp") no-repeat;
    background-size: cover;
  }
}

.page {
  height: 100vh;
  width: 100%;
  background: rgb(240,242,242);
background: linear-gradient(166deg, rgba(240,242,242,0.9051995798319328) 0%, rgba(213,164,132,0.5242471988795518) 58%, rgba(230,145,33,0.7987570028011204) 100%);
}
#page1{
  height: 90vh;
}
footer{
  height: 50vh;
  width: 100%;
  background: rgb(240,242,242);
background: linear-gradient(166deg, rgba(240,242,242,0.9051995798319328) 0%, rgba(213,164,132,0.5242471988795518) 58%, rgba(230,145,33,0.7987570028011204) 100%);
}
